<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" [routerLink]="['/']">
    Library Management System
    </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <!-- if the user is present then printing email -->
        <div  class="navbar-text float-left">
           </div>
        <a class="nav-item nav-link"  [routerLink]="['/']"  >Home</a>
        <!-- conditionally rendering links  -->
        <a 
        
        [routerLink]="['/signin']"
        routerLinkActive="active"
        class="nav-item nav-link" >Sign In</a>
        <a 
        
        [routerLink]="['/signup']"
        routerLinkActive="active"
        class="nav-item nav-link" >Sign Up</a>

        <a         
        [routerLink]="['/my-books']"
        routerLinkActive="active"
        class="nav-item nav-link" >My Books</a>
        <a         
        [routerLink]="['/admin']"
        routerLinkActive="active"
        class="nav-item nav-link" >Admin</a>
  
        <a       
        
        class="nav-item nav-link btn text-white"
        (click)="onLogout()">Log Out</a>
  
      </div>
  
    </div>
  </nav>