<div class="container-fluid m-3">
    <div class="jumbotron text-center">
        <h2 class="display-4">Update Book</h2>
        <p class="lead">Update books here!</p>
    </div>
    <div class="container p-4 bg-info">


        <div class="row">

            <div class="col col-12">
                <div class="card">
                    <div class="card-header bg-secondary text-large text-white text-center">
                        {{ "Update Book" | uppercase }}
                    </div>

                    <form class="card-body" (ngSubmit)="UpdateBook()" [formGroup]="formGroup">
                        <div class="form-group">
                            <label>Book Name</label>
                            <input type="text" class="form-control" formControlName="bookName"
                                placeholder="Enter Name" required />
                        </div>
                        <div class="form-group">
                            <label>Book Category</label>
                            <select class="form-control" formControlName="category">
                                <option value="Fantasy">Fantasy</option>
                                <option value="Sci-Fi">Sci-Fi</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Contemporary">Contemporary</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="locationName">Author Name</label>
                            <select  class="form-control" formControlName="author">
                                <option *ngFor="let author of authors" [value]="author.name">{{author.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="locationName">Publisher Name</label>
                            <select class="form-control" formControlName="publisher">
                                <option *ngFor="let publisher of publishers" [value]="publisher.name">{{publisher.name}}</option>
                            </select>
                        </div>
                        <div class="text-center mb-4 mt-2">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" (change)="onFileSelect($event)" class="custom-file-input" formControlName="cover">
                                    <label class="custom-file-label" for="inputGroupFile01">Add Book Cover here(Recommended Size : 500x300px and Size < 2MB)</label>
                                </div>
                            </div>

                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                Update Book
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>